.container {
}

.moduleContainer {
}

.module {
  display: flex;
  height: 64px;
  min-height: 64px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  padding: 0 24px;
}
